{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="headline-center">
	<img src="{% static 'img/profil.jpg' %}" height="450px">
</div>
<!--=== Our Skills ===-->
<div class="container content-sm">
	<div class="headline-center margin-bottom-60">
		<h2>Profile Desa Malahayu</h2>
	</div>
	<div>
		<p>Desa Malahayu adalah salah satu desa dari 25 desa yang ada di Kecamatan Banjarharjo, Kabupaten Brebes. Dengan luas wilayah ± 2.066 Ha dengan jumlah penduduk 15.380 jiwa. Yang terletak 35 Km sebelah barat daya Kota Brebes. Secara geografis, desa ini berbatasan dengan beberapa wilayah administrasi lain, yaitu: </p>

		<p>Sebelah utara   : Desa Banjarharjo,  Parirejo, Tiwulandu</p> 
		<p>Sebelah selatan : Desa Kertasari, Bandungsari, Cipajang</p> 
		<p>Sebelah timur   : Desa Cikuya</p>
		<p>Sebelah barat   : Desa Penanggapan dan Kab. Kuningan</p><br>

		<p>Di desa Malahayu ini terdapat waduk yang dibangun sejak zaman kolonial Belanda yaitu tahun 1930 dengan luas ±702 Ha. Fungsi waduk ini antara lain sebagai sarana irigasi lahan pertanian wilayah Kecamatan Banjarharjo, Kersana, Ketanggungan, Losari, Tanjung dan Bulakamba. Sebagai pengontrol banjir, tempat budidaya perikanan serta sarana rekreasi. Fasilitas yang ada yaitu  wisata perahu, kolam renang dan mainan anak. Ini belum tergarap secara maksimum.</p>

		<p>Selain itu juga memiliki beberapa destinasi wisata, baik bersifat edukasi maupun panorama alam antara lain: Obyek Wisata Waduk Malahayu, Gardu Pandang Bukit Dadablangan, Industri Kramik Hias, Budidaya ikan tawar, penggemukan sapi JABRES (Jawa Brebes) dan pengelolaan limbah ternak sapi. Disamping itu keunggulan Desa Wisata Malahayu memiliki kuliner yang khas, yaitu tape ketan daun jambu air, opak ketan, mirong ikan mendo.</p><br>
		
	</div>
</div>


{% include 'snippet/footer.html' %}
{% endblock %}