{% extends 'base.html' %}

{% block content %}
<div class="container">
	<br>
	<h3>Search Base Time</h3>
	<hr>
	<form method="GET">
		<div class="row">
			<div class="col-md-4">
				<input type="text" name="q" id="fromdate" placeholder="date from">
			</div>
			<div class="col-md-4">
				<input type="text" name="q" id="todate" placeholder="to date">	
			</div>
			<div class="col-md-4">
				<input type="submit" name="submit" value="Search" class="btn btn-secondary">
			</div>
		</div>	
	</form>	
	<hr>
	<table id="table_id">
		<tr>
			<th>Title</th>
			<th>URL</th>
			<th>Image</th>
			<th>Content</th>
			<th>Created</th>
			<th>Posted By</th>
		</tr>
		{% for p in pos %}
		<tr>
			<td>{{p.title}}</td>
			<td>{{p.slug}}</td>
			<td>{{p.image}}</td>
			<td>{{p.content|truncatechars:40}}</td>
			<td>{{p.created}}</td>
			<td>{{p.created_by}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}